<%- include("header") -%>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://images.unsplash.com/photo-1431068799455-80bae0caf685?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODZ8fGNhbWVyYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">About Us</h1>
        <p class="lead">Transformasi digital menjadi hal yang sangat umum. Strategi menggunakan teknologi untuk berkomunikasi menjadi lebih cepat dan mudah. Digitalisasi mengubah cara berbisnis dan tingkat efektifitas mempengaruhi nilai terhadap pelanggan. PT Cahaya Elang Perkasa berkomitmen untuk terus mengasah kemampuan, kreatifitas dan kerja keras untuk dapat memberikan layanan yang terbaik.
        </p>
        <button class="btn btn-light btn-lg" type="button">Contact Us</button>
      </div>
    </div>
  </div>    

<%- include("footer") -%>